
.artEmergencia h1 a {
	text-decoration: none;
	color: #373737;
	font-family: 'libre_baskervillebold';
	line-height: 1.2;
	margin-left: 1px;
}
.artEmergencia h2 a {
	color: #000;
	font-family: 'latoregular';
	line-height: 18px;
	margin: 0 0 10px 0;
	text-decoration: none;
	font-weight:normal;
	font-size:15px;

}
.artEmergencia {
	border: 1px solid #4b4b4b;
	padding: 6px;
	margin:6px;}
.artEmergencia img {
	width: 100%;

}
.artEmergencia .actualizadoNivel {
	font-size: 13px;
	font-family: 'latoregular';
	color: #6f6d6d;
	padding: 3px 0;
display: block;
 height: 20px;
}
.iconos.ico-hora {
	background-position: 0px -861px;
}
.iconos {
	background: url('../images/sprite-iconos.png') no-repeat left top;
	display: block;
	float: left;
	width: auto;
	height: 24px;
	margin-top: -6px;
	padding: 5px 0 0 16px;
}
.artRelac figure { float:left; margin: 0 5px;}
.artRelac article { margin-bottom:27px;}
.ico_articulo { background: url('../images/sprite-iconos.png') no-repeat left top;
display: block;
width: 29px;
height: 24px;
background-position: 0 -888px;
text-indent: -99999px;
float:left;
margin-right:7px;
}
.ico_img { background: url('../images/sprite-iconos.png') no-repeat left top;
display: block;
width: 29px;
height: 24px;
background-position: 0 -931px;
text-indent: -99999px;
float:left;
margin-right:10px;
}
ul.recursosRelac { margin-bottom: 20px;}

ul.recursosRelac li { margin-bottom:10px;}