.ac-container label{
	font-family: 'octin_sports_rgregular';
	padding: 2px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 31px;
	cursor: pointer;
	color: #000;
	line-height: 33px;
	font-size: 15px;
	background: #ececec;
	text-transform: uppercase;
}
.ac-container label:hover{
	background: #ececec;
}
.ac-container label:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 8px;
	top: 7px;
	background: transparent url(../../img/imgFichaEquipo/arrow_down.png) no-repeat center center;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: #ececec;
	color: #000;
}/*
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../../img/imgFichaEquipo/arrow_down.png) no-repeat center center;	
}

.ac-container input:checked + label:hover:after{
	background-image: url(../../img/imgFichaEquipo/arrow_up.png);
}
*/
.ac-container input{
	display: none;
}
.ac-container .ac-small{
	margin-top: 0px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container input:checked ~ .ac-small{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
}
.ac-container input:checked ~ .ac-small{
	border-top: 1px solid #CCC;
	height: auto;
	margin: 10px auto 0;
	width: 92%;
}